#aviso-cuerpo > #rotulo {
    text-align: center;
}

#aviso-cuerpo > #rotulo h1 {
    color: blanchedalmond;
}

#datosCompleto {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#formulario {
    margin-left: 15px;
}

#formulario input, textarea {
    border-radius: 15px;
    padding: 2px 10px;
    margin-top: 15px;
}

.form-label {
    color: rgb(252, 220, 174);
    font-weight: 600;
}

#buttonEnviar {
    font-size: 1.25rem;
}

#div-mensaje {
    color:rgb(255, 198, 117)
}

#mensajesEnviados {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: blanchedalmond;
}

#div-mensaje {
    background-color: rgba(255, 255, 255, 0.222);
    margin: 10px;
    padding: 5px 15px;
    border-radius: 15px;
}

#camposVacios {
    color: rgb(213, 44, 44);
}

@media (max-width: 1100px) {
    #mensajesEnviados {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 800px) {
    #mensajesEnviados {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    #mensajesEnviados {
        grid-template-columns: 1fr;
    }

    #datosCompleto {
        display: flex;
        flex-direction: column;
    }

    #form{
        text-align: center;
        margin-bottom: 15px;
    }
}