#body {
    display: flex;
    flex-direction: column;
}

#formDate {
    margin-top: 15px;
}

#formDate label {
    color: white;
}

.form-inputs {
    margin: 5px 10px;
    border-radius: 15px;
    padding: 2px 10px;
}

#results {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    margin: 50px;
}

.div-tarjeta {
    border-radius: 25px;
    background-color: white;
    justify-self: center;
    width: 350px;
    height: max-content;
}

#input-number {
    width: 120px;
}

#modalDatos {
    margin-left: -20px;
}

#modalNombre p {
    margin-left: 15px;
}

#modalCiudades {
    margin-top: 50px;
}

#modalCiudades p {
    margin-left: -3px;
}

@media (max-width: 1550px) {
    #results {
      grid-template-columns: 1fr 1fr 1fr;
    }

    #completo {
        display: flex;
        flex-direction: column;
    }

    #modalDatos {
        display: flex;
    }

    #modalDatos p {
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media (max-width: 1150px) {
    #results {
      grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 750px) {
    #results {
      grid-template-columns: 1fr;
    }
}