#rotulo_p h1 {
    color: white;
    text-align: center;
}

#form_sim {
    margin-left: 25px;
}

#form_sim label {
    color: bisque;
}

#button_sim {
    margin-top: 10px;
}

#estructura {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mensaje {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mensaje h3 {
    color: blanchedalmond;
}

#mensaje img {
    width: 50%;
}

#img img {
    border: 25px;
}

@keyframes shake {
    0% {
        transform: translate(-5px, -5px);
    }
    100% {
        transform: translate(5px, 5px);
    }
}

  
@media (max-width: 1000px) {
    #img img {
        max-width: 100%;
        height: auto;
    }
}